<!DOCTYPE html>
<html lang="{{ site.lang | default: " fr" }}">

<head>
</head>

<body>
    <nav id="navbar">
        <ul>
            {% assign links = site.data.navigation %}
            {% for link in links %}
            {% assign class = nil %}
            {% if page.url contains link.url %}
            {% assign class = 'active' %}
            {% endif %}
            {% if link.sublinks %}
            <li class="dropdown {{ class }}">
                <a href="javascript:void(0)" class="dropdown-toggle">{{ link.title }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for sublink in link.sublinks %}
                    <li class="ddm">
                        <a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% else %}
            <li class="{{ class }}">
                <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>

</body>

</html>