---
---

@import "{{ site.theme }}";

#navbar {
    /*float: left;seems to do same thing as navbar ul li float left*/
    position: fixed;
    top: 0;
    width: 100%;
    background-color: gray;
}

#navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    float: left;
}

#navbar ul li {
    float: left; /*if active, makes everything inline, gray bg*/
}

#navbar ul li a, .dropdown-toggle {
    color: white;
    text-align: center; /*doesn't seem to do anything*/
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
}

#navbar ul li a:hover, .dropdown:hover .dropdown-toggle {
    background-color: red;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#navbar .ddm a {
    color: green;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.ddm {
    display: block;
}

.dropdown-content a:hover {background-color: white;}

.dropdown:hover .dropdown-menu {
    display: block;
}
